<div class="row">
  <div class="col-6">
        <app-dona
          [title]="'Ventas'"
          [labels]="['Primero', 'Segundo', 'Tercero']"
          [datasets]="[213, 456, 675]"
        ></app-dona>

  </div>

    <div class="col-6">
        <app-dona
          [title]="'Compras'"
          [labels]="['Primero', 'Segundo', 'Tercero']"
          [datasets]="[213, 456, 675]"
        ></app-dona>

  </div>
</div>

<div class="row">
  <div class="col-6">
        <app-dona
          [title]="'Cambios'"
          [labels]="['Primero', 'Segundo', 'Tercero']"
          [datasets]="[213, 456, 675]"
        ></app-dona>

  </div>

    <div class="col-6">
        <app-dona
          [title]="'Marketing'"
          [labels]="['Primero', 'Segundo', 'Tercero']"
          [datasets]="[213, 456, 675]"
        ></app-dona>

  </div>
</div>

